<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Shipping Order</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome {{managemnet_name}}</h2>
    </div>
</div>
<!-- END Page Header -->
<div class="content bg-white border-b" >
   <div class="row items-push text-uppercase">
      <div class="col-md-6 text-center ">
         <div class="font-w700 text-gray-darker animated fadeIn">Total Order</div>
         
         <span class="h2 font-w300 text-primary" id="txt_total_order"></span>
      </div>
      <div class="col-md-6 text-center">
         <div class="font-w700 text-gray-darker animated fadeIn">Total Delivery</div>
        
         <span class="h2 font-w300 text-primary" id="txt_total_item_sale"></span>
      </div>     
   </div>
</div>
<div class="content"  data-ng-init="loadData()">
   <div class="row">
      <div class="col-md-12">
         <!-- Main Dashboard Chart -->
         <div class="block">
         <br />
            <div class="block-header">
                <div class="col-md-12">
                  <div class="col-md-10">
                     <div class="col-md-6 ">
                        <span style="padding-top: 5px;" class="col-md-4">From Date</span>
                        <p class="input-group">
                           <input type="text" class="form-control" uib-datepicker-popup ng-model="txtfromdate" is-open="popup1.opened" ng-required="true" close-text="Close" />
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                           </span>
                        </p>
                     </div>
                     <div class="col-md-6">
                        <span style="padding-top: 5px;" class="col-md-4">To Date</span>
                        <p class="input-group">
                           <input type="text" class="form-control" uib-datepicker-popup ng-model="txttodate" is-open="popup2.opened" ng-required="true" close-text="Close" />
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                           </span>
                        </p>
                     </div>
                    <!-- <div class="col-md-2">                       
                        <select id="cboDCompany" class="text-left form-control">
                            <option value="all">ALL</option>
                            <option value="0">No Shipping</option>
                            <option value="1">VIETTEL POST</option>
                            <option value="2">VIETNAM POST(EMS)</option>
                            <option value="3">TASETCO</option>
                            <option value="4">Other</option>
                            <option value="5">Direct</option>
                            <option value="6">GiaoHangNhanh</option>
                            <option value="7">GiaoHangTietKiem</option>
                            <option value="8">Ecotrans</option>
                            <option value="9">TPT</option>
                            <option value="10">Express</option>
                            <option value="11">Saigonship</option>
                        </select>
                     </div> -->
                  </div>
                  <div class="col-md-2">
                     <button class="btn btn-success" ng-click="data_fillter()">Filter Report</button>
                  </div>
               </div>
               <div class="col-md-12">
             <!--   <div class="col-md-3 col-md-offset-3">
                    <div style="position:relative;">
                		<a class='btn btn-primary' href='javascript:;'>
                			Choose File...
                			<input type="file" id="input" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                		</a>
                		&nbsp;
                		<span class='label label-info' id="upload-file-info"></span>
                	</div>
                </div> -->
                <div class="col-md-3 col-md-offset-3">
                    <input  type="file" id="input" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></input>
                    <label>Download this <a href="http://skyadmin.juloomob.net/assets/img/template.xlsx" download="">template  Excel file for update complete order</a></label>
                </div>
                                
                <div class="col-md-2">
                    <button class="btn btn-success" id="btnUpdate">Update Order Complete</button>
                </div>
                  
               </div>
            </div>
         </div>
      </div>
      
      <div class="col-md-12">
        <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Update Shipping Fee Only</h3>
            </div>
         </div>
         <div class="block-header">
            <div class="col-md-3 col-md-offset-3">
                    <input  type="file" id="inputShipping" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></input>
                    <label>Download this <a href="http://skyadmin.juloomob.net/assets/img/template.xlsx" download="">template Excel file Shipping fee only</a></label>
                </div>
                                
                <div class="col-md-2">
                    <button class="btn btn-info" id="btnUpdateShippingFee">Update Shipping Fee Only</button>
                </div>
         </div>
         </div>
      </div>
      
      <div class="col-md-12">
        <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Update Complete Only</h3>
            </div>
         </div>
         <div class="block-header">
            <div class="col-md-3 col-md-offset-3">
                    <input  type="file" id="inputComplete" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></input>
                    <label>Download this <a href="http://skyadmin.juloomob.net/assets/img/template_completed.xlsx" download="">template Excel update complete only</a></label>
                </div>
                                
                <div class="col-md-2">
                    <button class="btn btn-danger" id="btnUpdateComplete">Update Complete Only</button>
                </div>
         </div>
         </div>
      </div>
      
      <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">List Order</h3>
            </div>
         </div>
         <div class="block-content">
            <table id="tb_list_order_status" class="display   table table-bordered  js-dataTable-full" cellspacing="0" width="100%">
               <!--table table-bordered table-striped js-dataTable-full -->
               <thead>
                  <tr style=" background-color: #BCBCBC;color: white;">                    
                     <th >Name</th>
                     <th >Order ID</th>
                     <th >Phone</th>
                     <th >Address</th>
                     <th >Shop Type</th>
                     <!--th >Payment</th-->
                     <th> Shop ID</th>
                     <th >Total Order</th>
                     <th >Delivery Company</th>
                     <th >Delivery ID</th>
                     <th >Order Time</th>
                     <th >Arrival Time</th>
                     <th >Delivery fee</th>
                     <th >Status</th>
                     <th >Payment Check</th>                    
                  </tr>
               </thead>
            </table>            
         </div>
         
      </div>
   </div>
   <button id="btnNotifyFinish" class="js-notify btn btn-sm btn-success" data-js-notify="{type: 'success', align: 'center', icon: 'fa fa-check', message: 'Update Succeeded !'}"></button>
   </div>
</div> 
   

