<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Data Direct Order Report</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome {{managemnet_name}}</h2>
    </div>
</div>
<!-- END Page Header -->
<div class="content"  data-ng-init="loadData()">
<div class="row">
   <div class="col-md-12">
      <!-- Main Dashboard Chart -->
      <div class="block">
         <br />
         <div class="block-header"  >           
                  <div class="col-md-12">                                    
                     <div class="col-md-10"> 
                           <div class="col-md-5 ">
                              <span style="padding-top: 5px;" class="col-md-4">From Date</span>
                              <p class="input-group">
                                 <input type="text" class="form-control" uib-datepicker-popup ng-model="txtfromdate" is-open="popup1.opened" ng-required="true" close-text="Close" />
                                 <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                 </span>
                              </p>
                           </div>
                           <div class="col-md-5">
                              <span style="padding-top: 5px;" class="col-md-4">To Date</span>
                              <p class="input-group">
                                 <input type="text" class="form-control" uib-datepicker-popup ng-model="txttodate" is-open="popup2.opened" ng-required="true" close-text="Close" />
                                 <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                 </span>
                              </p>
                           </div>                          
                       
                     </div>
                     <div class="col-md-2">
                        <button class="btn btn-success" ng-click="data_fillter()">Filter Report</button>
                     </div>     
               </div>
         </div>
      </div>
      <!-- END Main Dashboard Chart -->
   </div>   
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Direct Order history</h3>
            </div>
            <div class="text-center">
                <span class="text-primary h3">Total Price : </span><span id="txtTotalPrice" class="text-primary h3">0</span> <span id="txtTotalPrice" class="text-primary h3"> VND</span>
            </div>
         </div>
         <div class="block-content">
         <table id="tb_order_report" class="table table-bordered table-striped table-hover js-dataTable-full display responsive " cellspacing="0" width="100%">
             <!--table table-bordered table-striped js-dataTable-full -->
             <thead>
                <tr style="background-color: #BCBCBC;color: white;">
                   <th class="hidden-xs">Order Date</th>                  
                   <th class="hidden-xs">Order ID</th>  
                   <th class="hidden-xs">Full Name</th>                                    
                   <th class="hidden-xs">Order Status</th>
                   <th class="hidden-xs">Name Product</th>                   
                   <th class="hidden-xs">Total Price</th>                      
                   <th class="hidden-xs">Manager Create Order</th> 
                </tr>
             </thead>
          </table>            
          <div id="img_load" class=" text-center" hidden="true">
            <img src="assets/js/plugins/datatableeditor/images/ajax-loader.gif" />
           </div> 
         </div>
      </div>
   </div>
   
</div>
</div>
<!-- END Page Content -->