<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Chart Monthly Sale Report</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome {{managemnet_name}}</h2>
    </div>
</div>
<!-- END Page Header -->
<div class="content"  data-ng-init="loadData()">
<div class="row">
   <div class="col-md-12">
      <!-- Main Dashboard Chart -->
      <div class="block">
         <br />
         <div class="block-header"  >           
                  <div class="col-md-12">                    
                     <div class="col-md-10">                       
                      
                           <div class="col-md-5 ">
                              <span style="padding-top: 5px;" class="col-md-4">From Date</span>
                              <p class="input-group">
                                 <input type="text" class="form-control" uib-datepicker-popup ng-model="txtfromdate" is-open="popup1.opened" ng-required="true" close-text="Close" />
                                 <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                 </span>
                              </p>
                           </div>
                           <div class="col-md-5">
                              <span style="padding-top: 5px;" class="col-md-4">To Date</span>
                              <p class="input-group">
                                 <input type="text" class="form-control" uib-datepicker-popup ng-model="txttodate" is-open="popup2.opened" ng-required="true" close-text="Close" />
                                 <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                 </span>
                              </p>
                           </div>
                          <!-- <div class="col-md-2">
                              <select class="form-control" id="cboShopSale">
                                 <option value="0" >Sky007</option>
                                 <option value="7">Wholesaler</option>
                                 <option value="10">Shopee</option>
                                 <option value="14">Lotte</option>
                                 <option value="16">Sendo</option>                               
                              </select>
                           </div> -->
                       
                     </div>
                     <div class="col-md-2">
                        <button class="btn btn-success" ng-click="data_fillter()">Filter Report</button>
                     </div>     
               </div>
         </div>
      </div>
      <!-- END Main Dashboard Chart -->
   </div>   
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Sky007</h3>
            </div>
         </div>
         <div class="block-content">            
                <div id="order_monthly_sale_sky007" style="height: 400px; min-width: 310px"></div>            
         </div>
      </div>
   </div>
    <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Wholesaler</h3>
            </div>
         </div>
         <div class="block-content">            
                <div id="order_monthly_sale_wholesaler" style="height: 400px; min-width: 310px"></div>             
         </div>
      </div>
   </div>
    <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Shopee Bbia</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_shopee" style="height: 400px; min-width: 310px"></div>            
         </div>
      </div>
   </div>
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Shopee Hince</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_shopee_hince" style="height: 400px; min-width: 310px"></div>            
         </div>
      </div>
   </div>
    <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Mixsoon</h3>
            </div>
         </div>
         <div class="block-content">            
                <div id="order_monthly_sale_mixsoon" style="height: 400px; min-width: 310px"></div>             
         </div>
      </div>
   </div>  
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Hince Webstite</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_hince" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
    <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Jain Wholesaler</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_eglips_wholesaler" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div>
    <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Lazada Bbia</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_lazada" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Lazada Hince</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_lazada_hince" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Sociolla</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_sociolla" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Watson</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_watson" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div>
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Beautybox</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_beautybox" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for tiki</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_tiki" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Bbiavn</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_bbiavn" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 

   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Tiktok Hince</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_tiktok_hince" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Guardian</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_guardian" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Lazada Mixsoon</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_lazada_mixsoon" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Shopee Mixsoon</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_shopee_mixsoon" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale for Tiktok Sky007</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_tiktok_sky007" style="height: 400px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale Comparison </h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_comparison" style="height: 600px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly Sale Comparison Wholesaler VS Shop</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_comparison_wholesaler" style="height: 600px; min-width: 310px"></div>
         </div>
      </div>
   </div> 
   
   <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Monthly sale</h3>
            </div>
         </div>
         <div class="block-content">             
                <div id="order_monthly_sale_total_sale" style="height: 600px; min-width: 310px"></div>
         </div>
      </div>
   </div>

</div>
</div>
<!-- END Page Content -->