<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Event Membership </h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome {{managemnet_name}}</h2>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="content" data-ng-init="loadData()">
   <div class="row">
      <div class="col-md-12">
         <!-- Main Dashboard Chart -->
         <div class="block">
            <div class="block-header">
                 <div class="col-md-12 " style="margin-bottom: 50px;">
                    <span class="block-title">List Item Sky007</span>                           
                 </div>                 
                 <div class="col-md-12">
                  <div>
                     <select class="form-control" id="categories" name="categories">
                        <option value="">Select a Category</option>
                    </select>  
                  </div>
                  <hr>
                    <table id="tb_list_item_sky007" class="table table-bordered table-striped table-hover js-dataTable-full display responsive nowrap" cellspacing="0" width="100%">
                         <!--table table-bordered table-striped js-dataTable-full -->
                         <thead>
                            <tr style="background-color: #BCBCBC;color: white;">  
                               <th class="hidden-xs">Product ID</th>  
                               <th class="hidden-xs">SKU</th>                           
                               <th class="hidden-xs">Item Name</th>                             
                               <th class="hidden-xs">Add</th>
                    
                            </tr>
                         </thead>
                    </table>
                 </div>
            </div>
         </div>
         
          <div class="block">
            <div class="block-header">
                 <div class="col-md-12 " style="margin-bottom: 50px;">
                    <span class="block-title">List Item Sky007</span>
                 </div>
                 <div class="col-md-12">
                    <table id="tb_list_event_membership_sky007" class="table table-bordered table-striped table-hover js-dataTable-full display responsive nowrap" cellspacing="0" width="100%">
                         <!--table table-bordered table-striped js-dataTable-full -->
                         <thead>
                            <tr style="background-color: #BCBCBC;color: white;">
                               <th class="hidden-xs"></th>
                               <th class="hidden-xs">Item ID</th>
                               <th class="hidden-xs">SKU</th>
                               <th class="hidden-xs">Item Name</th>   
                               <th class="hidden-xs">Start Time</th>
                               <th class="hidden-xs">End Time</th>
                               <th class="hidden-xs">Status</th>
                            </tr>
                         </thead>
                    </table>
                 </div>
            </div>
         </div>
      </div>
   </div>
</div>