<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Event Tiki </h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome {{managemnet_name}}</h2>
    </div>
</div>

<!-- END Page Header -->
<!-- Page Content -->
<div class="content" data-ng-init="loadData()">
   <div class="row">
      <div class="col-md-12">     
         <!-- Main Dashboard Chart -->
         <div class="block">
            <div class="block-header">
                 <div class="col-md-12 " style="margin-bottom: 50px;">
                    <span class="block-title">List Tiki Setting</span>
                 </div>
                 <div class="col-md-12">                    
                  
                 </div>
                <div>
                    <div id="imgLoadList">
                        <img class="col-md-offset-6" src="assets/js/plugins/datatableeditor/images/ajax-loader.gif" />
                    </div>
                </div>
            </div>
         </div>
         
          
      </div>
   </div>
</div>


