<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Event Flash Sale </h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome {{managemnet_name}}</h2>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="content" data-ng-init="loadData()">
   <div class="row">
      <div class="col-md-12">
         <!-- Main Dashboard Chart -->
         <div class="block">
            <div class="block-header">
                 <div class="col-md-12 " style="margin-bottom: 50px;">
                    <span class="block-title">List Item Sale</span>         
                 </div>
                 <div class="col-md-12">   
                    <div class="col-md-3 col-md-offset-3">
                        <input  type="file" id="input" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></input>
                        <label>Download this <a href="https://skyadmin.juloomob.net/assets/img/template_flash_sale.xlsx" download="">Template  Excel file Schedule Flash Sale</a></label>
                    </div>
                                    
                    <div class="col-md-2">
                        <button class="btn btn-info" id="btnUpdateFlashSale">Update Flash Sale</button>
                    </div>
                 
                 </div>
                 <div class="col-md-12">
                    <table id="tb_list_item" class="table table-bordered table-striped table-hover js-dataTable-full display responsive nowrap" cellspacing="0" width="100%">
                         <!--table table-bordered table-striped js-dataTable-full -->
                         <thead>
                            <tr style="background-color: #BCBCBC;color: white;">  
                               <th class="hidden-xs">Product ID</th>  
                               <th class="hidden-xs">SKU</th>                           
                               <th class="hidden-xs">Item Name</th>
                               <th class="hidden-xs">Price</th>
                               <th class="hidden-xs">Stock</th>
                               <th class="hidden-xs">Add</th>
                    
                            </tr>
                         </thead>
                    </table>
                 </div>
            </div>
         </div>
         
          <div class="block">
            <div class="block-header">
                 <div class="col-md-12 " style="margin-bottom: 50px;">
                    <span class="block-title">List Item Flash Sale Eglipsvn</span>
                 </div>
                 <div class="col-md-12">
                    <table id="tb_list_event_flash_sale" class="table table-bordered table-striped table-hover js-dataTable-full display responsive nowrap" cellspacing="0" width="100%">
                         <!--table table-bordered table-striped js-dataTable-full -->
                         <thead>
                            <tr style="background-color: #BCBCBC;color: white;">
                               <th class="hidden-xs"></th>
                               <th class="hidden-xs">Item ID</th>
                                <th class="hidden-xs">SKU</th>
                               <th class="hidden-xs">Item Name</th>                              
                               <th class="hidden-xs">Price Sale Of</th>
                               <th class="hidden-xs">Price Normal</th>
                               <th class="hidden-xs">Start Time</th>
                               <th class="hidden-xs">End Time</th>
                               <th class="hidden-xs">Status</th>
                            </tr>
                         </thead>
                    </table>
                 </div>
            </div>
         </div>
      </div>
   </div>
</div>