
<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Share Stock Mixsoon</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome {{managemnet_name}}</h2>
    </div>
</div>
<!-- END Page Header -->


<div class="content"  data-ng-init="loadData()">
   <div class="row">
      
      <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">List Product Mixsoon</h3>
            </div>
         </div>

         <div class="block-content">
            <table id="tb_list_item" class="table table-bordered  js-dataTable-full" cellspacing="0" width="100%">
               <!--table table-bordered table-striped js-dataTable-full -->
               
            </table>            
         </div>
      </div>
   </div>
   
   </div>
</div>


