<!-- Page Header -->

 <!-- DT3QMAYCHUMOI
TIEUKIEUVIP
DANHTUONG3QVIP
VIPCODE1TR
VIPCODE2TR
VIPCODE3TR
DT3Q904913
DT3Q535242
DT3Q298941
DT3QHOTQUATHOI
DT3QSERVERMOI -->

<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Share Stock HCM</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome {{managemnet_name}}</h2>
    </div>
</div>
<!-- END Page Header -->


<div class="content"  data-ng-init="loadData()">
   <div class="row">
      <div class="col-md-12">
         <!-- Main Dashboard Chart -->
         <div class="block">
         <br />
            <div class="block-header">
                <div class="col-md-12">
                  <div class="col-md-10">                 
                     <div class="col-md-4">
                        <div class="col-md-5 push-5-t">
                            <span>Brand Name</span>
                        </div>
                        <div class="col-md-7">
                            <select id="cboBrandName" class="text-left form-control">
                                <option value="-1">ALL</option>
                                <option value="0">BBia</option>
                                <option value="1">Eglips</option>                                
                                
                            </select>
                        </div>                        
                     </div>
                     <div class="col-md-4">
                     <div class="col-md-5 push-5-t">
                            <span>Category</span>
                        </div>
                        <div class="col-md-7">
                            <select id="cboCategory" class="text-left form-control">
                                <option value="-1">ALL</option>
                                <option value="0">Makekup Eye</option>
                                <option value="1">Makekup Face</option>
                                <option value="2">Makekup Lip</option>                                                       
                            </select>
                        </div>                       
                     </div> 
                     <div class="col-md-4">
                     <div class="col-md-5 push-5-t">
                            <span>Product type</span>
                        </div>
                        <div class="col-md-7">
                            <select id="cboProductType" class="text-left form-control">
                                <option value="-1">ALL</option>
                                <option value="0">Hand carried</option>
                                <option value="1">Regular</option>                                                    
                            </select>
                        </div>                       
                     </div>                   
                  </div>
                  <div class="col-md-2">
                     <button class="btn btn-success" ng-click="data_fillter()">Filter Report</button>
                  </div>
               </div>
               
            </div>
         </div>
      </div>
      <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">List Product</h3>
            </div>
         </div>
         <div class="col-md-12">   
            <div class="col-md-3 col-md-offset-3">
                <input  type="file" id="input" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></input>
                <label>Upload file</label>
            </div>
                            
            <div class="col-md-2">
                <button class="btn btn-info" id="btnUpdateShareStock">Update Share Stock</button>
            </div>              
          </div>
         <div class="block-content">
            <table id="tb_list_item" class="   table table-bordered  js-dataTable-full" cellspacing="0" width="100%">
               <!--table table-bordered table-striped js-dataTable-full -->
               
            </table>            
         </div>
      </div>
   </div>
   
   </div>
</div>


