<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
   <div class="push-50-t push-15">
      <h1 class="h2 text-white animated zoomIn">History Stock</h1>
      <h2 class="h5 text-white-op animated zoomIn">Welcome {{managemnet_name}}</h2>
   </div>
</div>
 
<!-- END Page Header -->
<!-- Page Content -->
<div class="content" data-ng-init="loadData()">
   <div class="row">
      <div class="col-md-12">
         <!-- Main Dashboard Chart -->
         <div class="block">
            <br />
            <div class="block-header">
               <div class="col-md-6">
                  <div class="col-md-5 form-group">
                     <select class="form-control" id="cboCheck">
                        <option value="0" >Check Log Stock</option>
                        <option value="1">Check Action Stock</option>                       
                     </select>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-12" id="d_log_stock">
         <div class="col-md-12">
            <!-- Main Dashboard Chart -->
            <div class="block">
               <br />
               <div class="block-header row">
               <div class="col-md-12">
                <div class="col-md-6">
                     <div class="col-md-offset-5 form-group">
                        <span class="block-title">List Product</span>
                     </div>
                     <table id="tb_list_product" class="table table-bordered table-striped table-hover js-dataTable-full display responsive" cellspacing="0" width="100%">
                        <!--table table-bordered table-striped js-dataTable-full -->
                        <thead>
                           <tr style="background-color: #BCBCBC;color: white;">
                              <th class="hidden-xs">Hide/Show</th>
                              <th class="hidden-xs">Item ID</th>
                              <th class="hidden-xs">Product Name</th>
                              <th class="hidden-xs">Type</th>
                              <th class="hidden-xs">Add for Filter</th>
                              
                           </tr>
                        </thead>
                     </table>
                  </div>
                  <div class="col-md-6">
                     <div class="col-md-offset-5 form-group">
                        <span class="block-title">List Item Filter</span>
                     </div>
                     <div class="col-md-12 form-group">
                        <div class="col-md-8 text-center">
                           <span>Name Product</span>
                        </div>
                     </div>
                     <div id="div_list_item_search">
                     </div>
                  </div>
               </div>                  
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <!-- Main Dashboard Chart -->
            <div class="block">
               <br />
               <div class="block-header">
                  <div class="col-md-12" style="margin-bottom: 50px;">
                     <span class="block-title">Report History Sale Item</span>
                  </div>
                  <div class="col-md-12">
                     <div class="col-md-12" style="padding-bottom: 30px;">
                        <div class="col-md-10">
                           <div class="col-md-4 ">
                              <span style="padding-top: 5px;" class="col-md-4">From Date</span>
                              <p class="input-group col-md-8">                               
                                <input type="text" class="form-control datepicker" id="from_date_picker"/> 
                              </p>
                           </div>
                           <div class="col-md-4">
                              <span style="padding-top: 5px;" class="col-md-4">To Date</span>
                              <p class="input-group col-md-8">
                               <input type="text" class="form-control datepicker" id="to_date_picker"/>                              
                              </p>
                           </div>
                           <div class="col-md-2">
                            <select id="cboWarehouse" class="form-control">                             
                                <option value="0">TP.HCM</option>
                                <option value="1">Ha Noi</option>
                            </select>
                           </div>
                           <div class="col-md-2" id="dShopType" >
                            <select id="cboShop" class="form-control">
                                <option value="1">Actsone</option>
                                <option value="2">Jnain(Eglips Website)</option>
                                <option value="3">Jnain(Lazada Eglips)</option>
                                <option value="4">Jnain(Watsons)</option>
                                <option value="5">Jnain(Sendo)</option>
                            </select>
                           </div>
                        </div>
                        <div class="col-md-2">
                           <button class="btn btn-success" ng-click="daily_fillter()">Filter Report</button>
                        </div>
                     </div>
                     <div class="col-md-12" id="div_number_order">
                        <div class="col-md-2 h4">Product ID</div>
                        <div class="col-md-4 h4">Product Name</div>
                        <div class="col-md-2 h4">Order Number</div>
                        <div class="col-md-2 h4">Order Cancel</div>
                        <div class="col-md-12" style="border-bottom: 1px blue;"></div>
                        <div class="row" id="div_infor_number_order" style="padding-bottom: 30px;">                           
                        
                        </div>                        
                     </div>
                     <div class="col-md-12" id="divGTotalSaleItem">
                        <table id="tb_list_history_item" class="table table-bordered table-striped table-hover js-dataTable-full display responsive " cellspacing="0" width="100%">
                           <!--table table-bordered table-striped js-dataTable-full -->
                           <thead>
                              <tr style="background-color: #BCBCBC;color: white;">
                                 <th class="hidden-xs">Item ID</th>                                
                                 <th class="hidden-xs">Item Name</th>
                                 <th class="hidden-xs">Comment</th>
                                 <th class="hidden-xs">Create Time</th>
                                 <th class="hidden-xs">Warehouse</th>
                                 <th class="hidden-xs">Manager</th>
                              </tr>
                           </thead>
                        </table>
                        <div id="img_load" class=" text-center" hidden="true">
                           <img src="assets/js/plugins/datatableeditor/images/ajax-loader.gif" />
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-12" id="d_incomming">
        <div class="col-md-12">
            <!-- Main Dashboard Chart -->
            <div class="block">
               <br />
               <div class="block-header">                  
                  <div class="col-md-12">
                     <div class="col-md-12" style="padding-bottom: 30px;">
                        <div class="col-md-10">
                           <div class="col-md-5 ">
                              <span style="padding-top: 5px;" class="col-md-4">From Date</span>
                              <p class="input-group col-md-8">                               
                                <input type="text" class="form-control datepicker" id="from_date_picker_incomming"/> 
                              </p>
                           </div>
                           <div class="col-md-5">
                              <span style="padding-top: 5px;" class="col-md-4">To Date</span>
                              <p class="input-group col-md-8">
                               <input type="text" class="form-control datepicker" id="to_date_picker_incomming"/>                              
                              </p>
                           </div>
                           <div class="col-md-2">
                            <select id="cboWarehouseIncoming" class="form-control">
                                <option value="0">ALL</option>
                                <option value="1">TP.HCM</option>
                                <option value="2">Ha Noi</option>
                            </select>
                           </div>
                        </div>
                        <div class="col-md-2">
                           <button class="btn btn-success" ng-click="daily_fillter_incomming()">Filter Report</button>
                        </div>
                     </div>
                     <div class="col-md-12" style="margin-bottom: 50px;">
                         <span class="block-title">Report Incomming Stock</span>
                     </div>
                     <div class="col-md-12">
                        <table id="tb_list_incomingstock" class="table table-bordered table-striped table-hover js-dataTable-full display responsive" cellspacing="0" width="100%"> <!--table table-bordered table-striped js-dataTable-full -->
                            <thead>
                                 <tr style=" background-color: #BCBCBC;color: white;">                                      
                                    <th class="hidden-xs" >Product ID</th> 
                                    <th class="hidden-xs" >Product Name</th> 
                                    <th class="hidden-xs" >Product type</th> 
                                    <th class="hidden-xs">Old Stock</th>
                                    <th class="hidden-xs">New Stock</th>
                                    <th class="hidden-xs">ReaSon</th>
                                    <th class="hidden-xs">Change Time</th>
                                    <th class="hidden-xs">Name Manager</th>
                                    <th class="hidden-xs">Type Change</th>
                                 </tr>
                            </thead>
                        </table>
                     </div>
                     <div class="col-md-12" style="margin-bottom: 50px;">
                         <span class="block-title">Report Borrow Stock</span>
                     </div>
                     <div class="col-md-12">
                        <table id="tb_list_borrow_stock" class="table table-bordered table-striped table-hover js-dataTable-full display responsive" cellspacing="0" width="100%"> <!--table table-bordered table-striped js-dataTable-full -->
                            <thead>
                                 <tr style=" background-color: #BCBCBC;color: white;">                                      
                                    <th class="hidden-xs" >Product ID</th> 
                                    <th class="hidden-xs" >Product Name</th> 
                                    <th class="hidden-xs">Old Stock</th>
                                    <th class="hidden-xs">New Stock</th>
                                    <th class="hidden-xs">ReaSon</th>
                                    <th class="hidden-xs">Time</th>
                                    <th class="hidden-xs">Name Manager</th>
                                    <th class="hidden-xs">Warehouse</th>
                                 </tr>
                            </thead>
                        </table>
                     </div>
                     <div class="col-md-12" style="margin-bottom: 50px;">
                         <span class="block-title">Report Edit Stock</span>
                     </div>
                     <div class="col-md-12">
                        <table id="tb_list_history_update_stock" class="table table-bordered table-striped table-hover js-dataTable-full display responsive" cellspacing="0" width="100%"> <!--table table-bordered table-striped js-dataTable-full -->
                            <thead>
                                 <tr style=" background-color: #BCBCBC;color: white;">                                      
                                    <th class="hidden-xs" >Product ID</th> 
                                    <th class="hidden-xs" >Product Name</th> 
                                    <th class="hidden-xs">Stock Log</th>
                                    <th class="hidden-xs">Time</th>
                                    <th class="hidden-xs">Manager</th>
                                    <th class="hidden-xs">Warehouse</th>                                   
                                 </tr>
                            </thead>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-12" id="d_edit_stock">
      </div>
   </div>
</div>
<!-- End Page Content -->

<!--G?i ngu?i em thuong ??
From: Lá thu t? tình t? cô gái anh thuong ?? 
Hôm tru?c anh có h?i em n?u du?c ch?n l?i t? d?u thì e có ch?n anh n?a không nh?? Và di nhiên câu tr? l?i c?a em luôn luôn là “Có” r?i.
Em t?ng nghi có ph?i vì có anh ? dây nên em m?i ch?n cu?c s?ng ? noi này không n?a? Em v?n di mo v? noi bình yên co mà,
còn cu?c s?ng ? dây thì rõ ràng có quá nhi?u s? lo l?ng và suy nghi r?i ^^ Dù dáp án là gì di n?a thì em cung c?m on anh ?? 
C?m on anh dã ch?n em là 1 ph?n trong cu?c s?ng c?a anh ??
Em bi?t s? còn 1 do?n du?ng r?t dài và khó khan ? phía tru?c nên cho dù có chuy?n gì x?y ra di n?a hãy nh? n?m tay em th?t ch?t d? mình cùng di qua do?n du?ng này anh nhé. 
R?i sau này n?u có di tr?n hay mai danh ?n tích ? dâu hãy cho em di cùng anh nha ??
Em r?t mu?n du?c bên c?nh anh và d?ng hành cùng anh trên ch?ng du?ng phía tru?c.
Ð?i v?i em m?i ngày ch? c?n du?c ? bên c?nh anh, n?m tay anh, ôm và hôn anh dó là di?u em c?m th?y vui và h?nh phúc l?m r?i ??
Quay ngu?c th?i gian m?t chút, lúc anh di em có hay l?m b?m m?y cây này nhung không bi?t anh nghe du?c không hihi
- Nh?t d?nh anh ph?i tr? v? và làm em yêu anh nhé!
- ? dây luôn có m?t ngu?i ch? anh và d?i anh v?!
- Em nh? và thuong anh nhi?u l?m ??
Và c? nh?ng ngày sau này khi không có anh ? dây em cung s? l?m b?m nhu v?y!!!
Vào 1 ngày ch? d?p gì c? nhung mu?n g?i l?i yêu thuong t?i anh, mình yêu nhau nhé !!!!!
To: Ngu?i mà em thuong --!>
