<!-- Page Header -->

<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Stock Shop mall</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome {{managemnet_name}}</h2>
    </div>
</div>
<!-- END Page Header -->


<div class="content"  data-ng-init="loadData()">
   <div class="row">
      <div class="col-md-12">
         <!-- Main Dashboard Chart -->
         <div class="block">
         <br />
            <div class="block-header">
                <div class="col-md-12">
                  <div class="col-md-3">                
                    
                        <div class="col-md-5 push-5-t">
                            <span>Shop Mall</span>
                        </div>
                        <div class="col-md-7">
                            <select id="cboBrandName" class="text-left form-control">
                                <option value="1">Shopee Bbia</option>
                               <!-- <option value="2">Lazada Bbia</option>
                                <option value="3">Shopee Eglips</option>                                
                                <option value="4">Lazada Eglips</option> 
                                <option value="5">Tiki Eglips</option>                                
                                <option value="6">Tiki Eglips</option> --!>
                            </select>
                        </div>                        
                              
                              
                  </div>
                  <div class="col-md-2">
                     <button class="btn btn-success" ng-click="data_fillter()">Get Product</button>
                  </div>
                  <div class="col-md-2 col-md-offset-5 text-right">
                    <button class="btn btn-info" ng-click="get_stock_insert_data()">Get Stock/Insert New Item</button>
                  </div>
               </div>
               
            </div>
         </div>
      </div>
       <div class="col-md-12">
         <!-- Main Dashboard Chart -->
         <div class="block">
         <br />
            <div class="block-header">
                <div class="col-md-12">
                    <h3 class="block-title">Auto Divide Stock</h3>
                    <div class="col-md-3 col-md-offset-3">
                        <input  type="file" id="input_divide_stock" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></input>
                        <label>Devide stock</label>
                    </div>
                                    
                    <div class="col-md-2">
                        <button class="btn btn-success" id="btnDivideStock">Devide stock</button>
                    </div>
               </div> 
               <div class="col-md-12">
                    <textarea id="txtError" class="col-md-offset-1 col-md-10" rows="6" placeholder="String Error !"></textarea>
               </div>               
            </div>
         </div>
      </div>
      <div class="col-md-12">
      <div class="block">
         <div class="block-header">
            <div>
               <h3 class="block-title">Update List Product</h3>
            </div>
         </div>
         <div class="col-md-12">   
            <div class="col-md-3 col-md-offset-3">
                <input  type="file" id="input" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></input>
                <label>Upload file</label>
            </div>
                            
            <div class="col-md-2">
                <button class="btn btn-info" id="btnUpdateStock">Update Stock</button>
            </div>              
          </div>
         <div class="block-content">
            <table id="tb_list_item" class="   table table-bordered  js-dataTable-full" cellspacing="0" width="100%">
               <!--table table-bordered table-striped js-dataTable-full -->
                   <thead>
                    <tr style="background-color: #BCBCBC;color: white;">
                       <th class="hidden-xs">ProductName</th>
                       <th class="hidden-xs">ItemID</th>
                       <th class="hidden-xs">SKU</th>
                       <th class="hidden-xs">Stock</th>
                       <th class="hidden-xs">Price</th>
                      
                       <th class="hidden-xs">Variation Name</th>
                       <th class="hidden-xs">VariationID</th>
                       <th class="hidden-xs">VariationSKU</th>
                       <th class="hidden-xs">VariationStock</th>
                       <th class="hidden-xs">VariationPrice</th>                      
                      
                       <th class="hidden-xs">ProductType</th>    
                       <th class="hidden-xs">Status</th>  
                       <th class="hidden-xs">stock_insert</th>    
                       <th class="hidden-xs">variation_insert</th>         
                    </tr>
                 </thead>               
            </table>            
         </div>
         <div id="img_load" class=" text-center">
            <img src="assets/js/plugins/datatableeditor/images/ajax-loader.gif" />
           </div>
      </div>
   </div>
   
   </div>
</div>


